.exceptional-img {
  width: 450px;
}
.exceptional-button {
  padding: 17px 42px;
  border: 2px solid rgb(12, 216, 216);
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgb(12, 216, 216);
  transition: 0.5s;
}
.exceptional-button:hover {
  background: none;
  border: 2px solid rgb(12, 216, 216);
  color: rgb(12, 216, 216);
}
.exceptional-heading {
  color: rgb(2, 2, 70);
}
.exceptional-text {
  color: rgb(145, 144, 144);
}
